<div id="header-bar" class="flex flex-row items-center justify-between px-4 py-3 bg-blue-500">
   <div>
      <a href="/">
         <h1 class="text-white">TranslationTools</h1>
      </a>
   </div>
   <div>
      <a href="/settings" class="button secondary">Settings</a>
   </div>
</div>